name: deploy
on:
  push:
    branches: main
    paths-ignore:
      - 'README.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE*'
      - 'docs/**'
      - '*.md'
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test.yml

  deploy:
    needs: test
    runs-on: self-hosted
    steps:
      - name: pull
        working-directory: /www/alerts/
        run: git reset --hard && git pull

      - name: restart
        working-directory: /www/alerts/
        run: chmod +x restart.sh && ./restart.sh